.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../homepage-large.jpg");
    background-size: cover;
  }

  .background .water {
    position: absolute;
    background-image: url("../water-cut3.png");
    background-size: cover;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: url("#turbulence");
  }